* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
p {
  color: #333;
}

.container {
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr);
  grid-template-rows: 12rem;
}

.nav {
  background-color: #0284c7;
  color: #eee;
  box-shadow: 2px 0 10px rgba(0,0,0,0.2);

  grid-area: 1 / 1 / 3 / 2;
  
  padding: 1rem;
  height: 100vh;
  min-width: 16rem;

  display: grid;
  align-content: flex-start;
  gap: 4rem;
}

.nav h1 {
  font-size: 28px;

  display:flex;
  align-items: center;
  gap: 0.8rem;
  color: #eee;
}

.nav ul li a:link,
.nav ul li a:visited {
  line-height: 1.5;
  color: #eee;
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-left: 0.8rem;
}

.icon {
  fill: #eee;
}

.nav ul li a:active,
.nav ul li a:hover {
  color: #ccc;
}

.header {
  grid-area: 1 / 2 / 2 / 5;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem 1rem;
  padding: 4rem;
  align-content: center;
  box-shadow: 1px 10px 1px rgba(0,0,0,0.8);
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header div input {
  outline: none;
  border: none;
  background-color: #e5e7eb;
  border-radius: 1rem;
  width: 100%;
  padding: 0.5rem 1.2rem;
}

.header div input:focus {
  outline: none;
  border-radius: 0.5rem;
}

.search-btn {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.search-btn:hover,
.search-btn:active {
  transform: scale(120%);
}

.pfp-bar {
  justify-self: flex-end;
  font-size: 22px;
  font-weight: 700;
  gap: 2rem;
}

.media-btn-box {
  gap: 2rem;
}

.media-btn {
  border: none;
  border-radius: 2rem;

  background-color: #0284c7;
  color: #eee;

  font-size: 18px;
  font-weight: 700;

  padding: 0.8rem 2rem;

  cursor: pointer;
}

.media-btn:hover,
.media-btn:active {
  filter: brightness(80%);
  color: #fff;
  transform: scale(120%);
}

.header div:last-child {
  justify-self: flex-end;
}

.welcome-box {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.welcome-box div p {
  font-size: 18px;
  font-weight: 600;
}

.welcome-box-pfp {
  height: 5rem;
  width: 5rem;
}

img {
  height: 48px;
  width: 48px;
  overflow: hidden;
  border-radius: 10rem;
}

.main-view {
  grid-area: 2 / 2 / 3 / 5;
  background-color: #e5e7eb;

  padding: 1rem;

  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projects {
  grid-area: 1 / 1 / 3 / 2;
}

.proj-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.proj-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
}