* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vh 90vh;
}

.nav {
  background-color: #0284c7;
  grid-area: 1 / 1 / 3 / 2;
  color: #eee;
  padding: 1rem;

  display: grid;
  align-content: flex-start;
  gap: 4rem;
}

.nav h1 {
  font-size: 28px;

  display:flex;
  align-items: center;
  gap: 0.8rem;
}

.nav ul li a:link,
.nav ul li a:visited {
  line-height: 1.5;
  color: #eee;
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-left: 0.8rem;
}

.icon {
  fill: #eee;
}

.nav ul li a:active,
.nav ul li a:hover {
  color: #ccc;
}

.header {
  grid-area: 1 / 2 / 2 / 5;
}

.projects {
  background-color: #bbb;
  grid-area: 2 / 2 / 3 / 4;
}

.notifications {
  background-color: #bbb;
  grid-area: 2 / 4 / 3 / 5;
}